<!DOCTYPE html>
<html>
<head>
	<title>BSE</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
		#FileDate{
			font-size: 1em;
			padding-top: 4.5vh;
		}
		.container{
			padding-top: 10px;
		}

		.scroll {
			border: 0;
			border-collapse: collapse;
		}    
		.scroll tr {
			display: flex;
		}  
		  
		.scroll td {
			flex: 1;
			text-align: center;
		}    
		.scroll thead tr:after {
			overflow-y: scroll;
			visibility: hidden;
			height: 0;
		}    
		.scroll thead th {
			flex: 1 auto;
			display: block;
			text-align: center;
		}   
		.scroll thead tr {
			padding-right: 20px; 
		}   
		 
		.scroll tbody {
			display: block;
			overflow-y: scroll;
			height: calc(82vh - 75px);
		}
	</style>
</head>

<body>
	<main>
		<div class="container">
			<div class="row headers">
				<div class=" col s12 m4">
					<h4 id = "heading"  class="left teal-text"><strong>BSE</strong> Bhavlist</h4>					
				</div>
				<div class="col s12 m4">
					<div class="input-field">
						<input type="search" id="searchInput" onsearch="searchItem()" title="Type in a name">
						<label for="searchInput">Search by Name</label>		
						<i class="material-icons" onclick="searchItem()">search</i>			
					</div>	
				</div>
				<div class = "col s12 m4">
					<span id = "FileDate" class="grey-text right">Published by <a target="_blank" href="https://www.bseindia.com/markets/MarketInfo/BhavCopy.aspx">BSE</a> on: </span>
				</div>				
			</div>
			
			<div class="row">
				<div class="col s12 m12">
					<div id = "bseLoader" class="progress">
						<div class="indeterminate"></div>
					</div>
					<table class="scroll striped responsive-table" id="searchTable">
						<thead>
							<tr>
								<th>S.No.</th>
								<th>Code</th>
								<th>Name</th>
								<th>Open</th>
								<th>Close</th>
								<th>High</th>
								<th>Low</th>
							</tr>							
						</thead>						
						<tbody id = "searchTableBody">					
						</tbody>						
					</table>					
				</div>
			</div>
			
		</div>
	</main>
	<script>		
		
		$( document ).ready(function() {
			fetch('/getBSEData')
			.then(function (response) {								
				return response.json();
			})
			.then(function (stocks) {		
				// Save stock data in local Storage
				// debugger
				// console.log(stocks);
				localStorage['stockData'] = JSON.stringify(stocks);		
				var FileDate = stocks[0].FileDate;
				$("#FileDate").append(FileDate);
				addStocksInTable(stocks.slice(0,10));
				$("#bseLoader").hide();
			})
					
		});
		
		function searchItem() {
			$("#bseLoader").show();			
			var stocks = JSON.parse(localStorage['stockData']);
			$("#searchTableBody").empty();			
			var input,filter, txtValue;			
			input = document.getElementById("searchInput");
			filter = input.value.toUpperCase();
			var stocksResult = [];
			if(filter==""){
				stocksResult = stocks.slice(0,10);
			}
			else{				
				// debugger
				for(var i=0; i<stocks.length; i++){
					// console.log(i);
					// console.log(stocks[i].SC_NAME);
					if(stocks[i].SC_NAME.toString().toUpperCase().indexOf(filter) > -1){
						stocksResult.push(stocks[i]);									
					}
				}
			}			
			addStocksInTable(stocksResult);
			$("#bseLoader").hide();			
		}
		
		function addStocksInTable(stocks){
			var table = document.getElementById("searchTableBody");
			
			for (i = 0; i < stocks.length; i++)
			{
				var tr = document.createElement("tr");
				var sno = document.createElement("td");
				var code = document.createElement("td");
				var name = document.createElement("td");
				var open = document.createElement("td");
				var close = document.createElement("td");
				var high = document.createElement("td");
				var low = document.createElement("td");
				var change = document.createElement("span");
				
				if(stocks[i].change<0){
					$(change).attr('class','red-text');
					$(change).append('<i class="material-icons">arrow_drop_down</i>');
				}
				else if(stocks[i].change>0){
					$(change).attr('class','green-text');
					$(change).append('<i class="material-icons">arrow_drop_up</i>');
				}
				else{
					$(change).attr('class','grey-text');
					$(change).append('<i class="material-icons">drag_handle</i>');
				}
				change.append(Math.round(Math.abs(stocks[i].change)*1000)/1000+"%");
				sno.append(i+1)
				code.append(stocks[i].SC_CODE);
				name.append(stocks[i].SC_NAME);
				open.append(stocks[i].OPEN);					
				close.append(stocks[i].CLOSE);
				close.append(change);
				high.append(stocks[i].HIGH);
				low.append(stocks[i].LOW);
				
				close.style.marginTop = '-8px';

				tr.appendChild(sno);
				tr.appendChild(code);
				tr.appendChild(name);
				tr.appendChild(open);
				tr.appendChild(close);
				tr.appendChild(high);
				tr.appendChild(low);			
				
				table.appendChild(tr);					
			}
		}
		
	</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>