<!DOCTYPE html>
<html>
<head>
	<title>BSE</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
		#FileDate{
			font-size: 1em;
			padding-top: 4.5vh;
		}
		#searchTable tbody{
			overflow: scroll;
		}
		td{
			padding: 12px 5px;
		}
	</style>
</head>

<body>
	<main>
		<div class="container section">
			<div class="row">
				<div class=" col s3 m3">
					<h4 id = "heading"  class="left teal-text"><strong>BSE</strong> Bhavlist</h4>					
				</div>
				<div class="col s5 m5 input-field">
					<input type="text" id="searchInput" onkeyup="searchItem()" title="Type in a name">
					<label for="searchInput">Search by name</label>					
				</div>	
				<div class = "col s3 m3 offset-s1 offset-m1">
					<span id = "FileDate" class="grey-text right">Published by <a href="https://www.bseindia.com/markets/MarketInfo/BhavCopy.aspx">BSE</a> on: </span>
				</div>				
			</div>
			<div class="row">
				<div class="col s12 m12">
					
					<table class="striped" id="searchTable">
						<thead>
							<tr>
								<th>S.No.</th>
								<th>Code</th>
								<th>Name</th>
								<th>Open</th>
								<th>Close</th>
								<th>High</th>
								<th>Low</th>
							</tr>
							
						</thead>
						
						<tbody id = "searchTableBody">
							
						</tbody>
						
					</table>
					<div id = "bseLoader" class="progress">
						<div class="indeterminate"></div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script>
		$( document ).ready(function() {
			// Send the same request
			fetch('/getBSEData')
			.then(function (response) {
				return response.json(); // But parse it as JSON this time
			})
			.then(function (stocks) {				
				var FileDate = stocks.FileDate;
				$("#FileDate").append(FileDate)
				var table = document.getElementById("searchTableBody");
				for (i = 0; i < stocks.code.length && i<10; i++)
				{
					var tr = document.createElement("tr");
					var sno = document.createElement("td");
					var code = document.createElement("td");
					var name = document.createElement("td");
					var open = document.createElement("td");
					var close = document.createElement("td");
					var high = document.createElement("td");
					var low = document.createElement("td");
					var change = document.createElement("span");
					
					if(stocks.change[i]<0){
						$(change).attr('class','red-text');
						$(change).append('<i class="material-icons">arrow_drop_down</i>');
					}
					else if(stocks.change[i]>0){
						$(change).attr('class','green-text');
						$(change).append('<i class="material-icons">arrow_drop_up</i>');
					}
					change.append(Math.round(Math.abs(stocks.change[i])*1000)/1000+"%");
					
					sno.append(i+1)
					code.append(stocks.code[i]);
					name.append(stocks.name[i]);
					open.append(stocks.open[i]);					
					close.append(stocks.close[i]);
					close.append(change);
					high.append(stocks.high[i]);
					low.append(stocks.low[i]);
					
					tr.appendChild(sno);
					tr.appendChild(code);
					tr.appendChild(name);
					tr.appendChild(open);
					tr.appendChild(close);
					tr.appendChild(high);
					tr.appendChild(low);
					
					
					table.appendChild(tr);					
				}
				$("#bseLoader").hide();
			})
		});
		
		function searchItem() {			
			var input,filter, i, txtValue;			
			input = document.getElementById("searchInput");
			filter = input.value.toUpperCase();
			var rows = $("#searchTable tr");
			for (j = 1; j < rows.length; j++){
				debugger
				var searchElements = rows[j].children;
				for (i = 0; i < searchElements.length; i++){
					
					txtValue = searchElements[i].textContent;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {						
						$(rows[j]).show();
						break;
					} else {
						$(rows[j]).hide();
					}
				}
			}		
		}
		
		function SearchBackup() {
			var input, filter, ul, li, a, i, txtValue;			
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			ul = document.getElementById("searchContent");
			li = ul.getElementsByTagName("li");
			for (i = 0; i < li.length; i++) {
				a = li[i].getElementsByTagName("a")[0];
				txtValue = a.textContent || a.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					li[i].style.display = "";
				} else {
					li[i].style.display = "none";
				}
			}
		}
		
	</script>
	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>